body {
    background: url(images/home-background.jpeg) no-repeat center fixed;
    background-size: cover;
    font-family: serif;
}

h1,
h2 {
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}

h2 {
    margin-top: 25px;
}

nav.navbar {
    position: -webkit- sticky;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: black !important;
    padding: 0px;
    z-index: 5;
    font-family: 'Anonymous Pro', monospace;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav ul {
    list-style: none;
    margin: 0px;
    width: 100%;
}

nav li {
    display: inline;
    width: 25%;
}

nav a,
.nav-link a, a.dropdown-toggle {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 100%;
}

a.dropdown-toggle {
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.dropdown-menu.show {
    background-color: black;
    text-align: center;
}

nav a:hover, a.dropdown-toggle:hover {
    font-style: normal;
    background-color: dimgray;
    color: white;
    text-decoration: none;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

p,
.container-fluid img {
    box-shadow: 10px 10px 5px grey;
}

.row,
.col {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px
}

p,
.text {
    background-color: #f1f1e9;
    text-indent: 2em;
    line-height: 1.5;
    padding: .5em;
}
